<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordion</title>
  <link rel="shortcut icon" href="../../icons/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="accordion.css">
</head>
<body>
  <section id="accordion">
    <div class="container">
      <h1>Accordion</h1>
      <div class="accordion">
        <!-- item 1 -->
        <div class="accordion-item">
          <div class="accordion-header flex-between">
            <h2>Accordion Title</h2>
            <img src="../../icons/accordion-arrow-down-pc.svg" alt="arrow down">
          </div>
          <div class="accordion-content">
            <div class="accordion-divider"><hr></div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde fugiat, minima vel explicabo repudiandae dolorum soluta sit adipisci magni ullam eum! Beatae assumenda nam nostrum explicabo voluptatibus et voluptate, provident earum nesciunt cupiditate sint possimus, quas quod ex repellendus aspernatur amet? Fugiat consequuntur facere, odio vel nisi aspernatur ex praesentium quaerat! Itaque iste voluptatibus expedita deserunt hic temporibus porro, repellat impedit praesentium. Nulla quasi temporibus delectus?
          </div>
        </div>
        <!-- item 2 -->
        <div class="accordion-item">
          <div class="accordion-header flex-between">
            <h2>Accordion Title</h2>
            <img src="../../icons/accordion-arrow-down-pc.svg" alt="arrow down">
          </div>
          <div class="accordion-content">
            <div class="accordion-divider"><hr></div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde fugiat, minima vel explicabo repudiandae dolorum soluta sit adipisci magni ullam eum! Beatae assumenda nam nostrum explicabo voluptatibus et voluptate, provident earum nesciunt cupiditate sint possimus, quas quod ex repellendus aspernatur amet? Fugiat consequuntur facere, odio vel nisi aspernatur ex praesentium quaerat! Itaque iste voluptatibus expedita deserunt hic temporibus porro, repellat impedit praesentium. Nulla quasi temporibus delectus?
          </div>
        </div>
        <!-- item 3 -->
        <div class="accordion-item">
          <div class="accordion-header flex-between">
            <h2>Accordion Title</h2>
            <img src="../../icons/accordion-arrow-down-pc.svg" alt="arrow down">
          </div>
          <div class="accordion-content">
            <div class="accordion-divider"><hr></div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde fugiat, minima vel explicabo repudiandae dolorum soluta sit adipisci magni ullam eum! Beatae assumenda nam nostrum explicabo voluptatibus et voluptate, provident earum nesciunt cupiditate sint possimus, quas quod ex repellendus aspernatur amet? Fugiat consequuntur facere, odio vel nisi aspernatur ex praesentium quaerat! Itaque iste voluptatibus expedita deserunt hic temporibus porro, repellat impedit praesentium. Nulla quasi temporibus delectus?
          </div>
        </div>
        <!-- item 4 -->
        <div class="accordion-item">
          <div class="accordion-header flex-between">
            <h2>Accordion Title</h2>
            <img src="../../icons/accordion-arrow-down-pc.svg" alt="arrow down">
          </div>
          <div class="accordion-content">
            <div class="accordion-divider"><hr></div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde fugiat, minima vel explicabo repudiandae dolorum soluta sit adipisci magni ullam eum! Beatae assumenda nam nostrum explicabo voluptatibus et voluptate, provident earum nesciunt cupiditate sint possimus, quas quod ex repellendus aspernatur amet? Fugiat consequuntur facere, odio vel nisi aspernatur ex praesentium quaerat! Itaque iste voluptatibus expedita deserunt hic temporibus porro, repellat impedit praesentium. Nulla quasi temporibus delectus?
          </div>
        </div>
        <!-- item 5 -->
        <div class="accordion-item">
          <div class="accordion-header flex-between">
            <h2>Accordion Title</h2>
            <img src="../../icons/accordion-arrow-down-pc.svg" alt="arrow down">
          </div>
          <div class="accordion-content">
            <div class="accordion-divider"><hr></div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde fugiat, minima vel explicabo repudiandae dolorum soluta sit adipisci magni ullam eum! Beatae assumenda nam nostrum explicabo voluptatibus et voluptate, provident earum nesciunt cupiditate sint possimus, quas quod ex repellendus aspernatur amet? Fugiat consequuntur facere, odio vel nisi aspernatur ex praesentium quaerat! Itaque iste voluptatibus expedita deserunt hic temporibus porro, repellat impedit praesentium. Nulla quasi temporibus delectus?
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="accordion.js"></script>
</body>
</html>