<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="shortcut icon" href="../../../assets/icons/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="header.css">
</head>
<body>
  <header>
    <div class="container flex-between">
      <div class="flex gap-5">
        <div class="header-logo">
          <a href="#hero">
            <img
              src="../../../assets/icons/logo.svg"
              width="120"
              alt="LH & Creatives"
            >
          </a>
        </div>
        <nav class="header-nav">
          <ul class="flex gap-3 text-uppercase text-bold">
            <li><a href="#about">About</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="#access">Access</a></li>
            <li><a href="#recruit">Recruit <img src="../../../assets/icons/icon-external.svg" alt="icon external"></a></li>
          </ul>
        </nav>
      </div>
      <a href="#contact" class="header-nav-btn text-uppercase text-bold">contact</a>
      <button
        class="hidden-btn hidden"
        id="menu" type="button"
        aria-label="menu"
        aria-hidden="true">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <!-- mobile nav -->
    <nav class="header-mobile hidden" aria-hidden="true">
      <ul class="flex-col gap-5 text-uppercase text-bold">
        <li><a href="#about">About</a></li>
        <li><a href="#service">Service</a></li>
        <li><a href="#access">Access</a></li>
        <li><a href="#recruit">Recruit <img src="../../../assets/icons/icon-external.svg" alt="icon external"></a></li>
        <li><a href="#contact" class="header-mobile-btn text-uppercase text-bold">contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/0aec4264dc.js" crossorigin="anonymous"></script>
  <script src="header.js"></script>
</body>
</html>