<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel</title>
  <link rel="shortcut icon" href="../../icons/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="carousel.css">
</head>
<body>
  <div class="carousel container">
    <h1>Carousel</h1>
  </div>
  <div class="carousel container-full">
    <div class="six-block carousel-slide">
      <div><img src="../../images/carousel-img05.png" alt=""></div>
      <div><img src="../../images/carousel-img06.png" alt=""></div>
      <div><img src="../../images/carousel-img01.png" alt=""></div>
      <div><img src="../../images/carousel-img02.png" alt=""></div>
      <div><img src="../../images/carousel-img03.png" alt=""></div>
      <div><img src="../../images/carousel-img04.png" alt=""></div>
    </div>
    <div class="six-block carousel-slide">
      <div><img src="../../images/carousel-img01.png" alt=""></div>
      <div><img src="../../images/carousel-img02.png" alt=""></div>
      <div><img src="../../images/carousel-img03.png" alt=""></div>
      <div><img src="../../images/carousel-img04.png" alt=""></div>
      <div><img src="../../images/carousel-img05.png" alt=""></div>
      <div><img src="../../images/carousel-img06.png" alt=""></div>
    </div>
    <div class="six-block carousel-slide">
      <div><img src="../../images/carousel-img03.png" alt=""></div>
      <div><img src="../../images/carousel-img04.png" alt=""></div>
      <div><img src="../../images/carousel-img05.png" alt=""></div>
      <div><img src="../../images/carousel-img06.png" alt=""></div>
      <div><img src="../../images/carousel-img01.png" alt=""></div>
      <div><img src="../../images/carousel-img02.png" alt=""></div>
    </div>
    <!-- More slides... -->
  </div>
  <div class="container relative">
    <button class="carousel-prev"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="carousel-next"><i class="fa-solid fa-chevron-right"></i></button>
  </div>

  <!-- scripts -->
  <script src="https://kit.fontawesome.com/0aec4264dc.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="carousel.js"></script>
</body>
</html>