<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel</title>
  <link rel="shortcut icon" href="../../icons/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="carousel.css">
</head>
<body>
  <section id="carousel">
    <div class="carousel container">
      <h1>Carousel</h1>
    </div>
    <div class="carousel container-full" id="carousel-container"></div>
    <div class="container relative">
      <button class="carousel-prev"><i class="fa-solid fa-chevron-left"></i></button>
      <button class="carousel-next"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
  </section>

  <!-- scripts -->
  <script src="https://kit.fontawesome.com/0aec4264dc.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="carousel.js"></script>
</body>
</html>
