@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --ff-main: "Roboto", sans-serif;

  --white: #FFFFFF;
  --dark-grey: #333333;
  --light-grey: #AAAAAA;
  --grey: #707070;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main);
}

image {
  display: block;
  max-width: 100%;
}

/* layout */
.container {
  max-width: 1000px;
  width: 90%;
  margin-inline: auto;
}

.container.relative {
  position: relative;
}

.container-full {
  max-width: 1500px;
  width: 99%;
  margin-inline: auto;
}

.six-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

/* custom styles */
.carousel.container-full {
  overflow: hidden;
}
.carousel.container {
  padding: 3rem 0;
}

.carousel.container h1 {
  font-size: 2.8rem;
}
.carousel-slide {
  display: none;
}
.carousel-slide.active {
  display: grid;
}
.carousel-slide div {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.carousel-next,
.carousel-prev {
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--dark-grey);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.carousel-prev {
  position: absolute;
  left: 2rem;
  top: -5rem;
}

.carousel-next {
  position: absolute;
  right: 2rem;
  top: -5rem;
}

/* media queries */
@media (max-width: 540px) {
  .six-block {
    grid-template-columns: repeat(5, 1fr);
  }

  .carousel-slide div {
    width: 300px;
    overflow: hidden;
    position: relative;
  }

  .carousel-slide div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .carousel-prev {
    left: 2rem;
    top: -18rem;
  }

  .carousel-next {
    right: 2rem;
    top: -18rem;
  }

  .carousel-next,
  .carousel-prev {
    padding: 0.6rem 0.8rem;
  }
}