<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Section</title>
  <link rel="shortcut icon" href="../../icons/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="section.css">
</head>
<body>
  <section id="section">
    <div class="container">
      <h1>Section</h1>
      <div class="seven-block">
        <picture class="section-img">
          <source
            srcset="../../images/section-img1@2x.png"
            media="(max-width: 540px)"
          />
          <source
            srcset="../../images/section-img1.png"
            media="(min-width: 541px)"
          />
          <img src="../../images/section-img1.png"/>
        </picture>
        <div class="section-desc">
          <h2>Card Title</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fugit libero architecto ipsum aliquid tempora ad nisi vero iure deleniti, mollitia vitae exercitationem quo et rem quas! Eligendi commodi eaque accusamus porro rem quidem corrupti magni cumque ex! Odit velit fugit illo mollitia nobis rem.
          </p>
        </div>
      </div>
      <div class="seven-block sp-reverse">
        <div class="section-desc">
          <h2>Card Title</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fugit libero architecto ipsum aliquid tempora ad nisi vero iure deleniti, mollitia vitae exercitationem quo et rem quas! Eligendi commodi eaque accusamus porro rem quidem corrupti magni cumque ex! Odit velit fugit illo mollitia nobis rem.
          </p>
        </div>
        <picture class="section-img">
          <source
            srcset="../../images/section-img2@2x.png"
            media="(max-width: 540px)"
          />
          <source
            srcset="../../images/section-img2.png"
            media="(min-width: 541px)"
          />
          <img src="../../images/section-img2.png"/>
        </picture>
      </div>
    </div>
  </section>
</body>
</html>