<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
  <link rel="shortcut icon" href="../../icons/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="card.css">
</head>
<body>
  <section id="card">
    <div class="container">
      <h1>Card</h1>
      <h2>4 column card on PC</h2>
      <div class="four-block">
        <!-- card one -->
        <div class="card">
          <picture class="card-img">
            <source
              srcset="../../images/card-4col-img1@2x.png"
              media="(max-width: 540px)"
            >
            <source
              srcset="../../images/card-4col-img1.png"
              media="(min-width: 541px)"
            >
            <img src="../../images/card-4col-img1.png" alt="card col4 img1">
          </picture>
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum.</p>
        </div>
        <!-- card two -->
        <div class="card">
          <picture class="card-img">
            <source
              srcset="../../images/card-4col-img2@2x.png"
              media="(max-width: 540px)"
            >
            <source
              srcset="../../images/card-4col-img2.png"
              media="(min-width: 541px)"
            >
            <img src="../../images/card-4col-img2.png" alt="card col4 img2">
          </picture>
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum.</p>
        </div>
        <!-- card three -->
        <div class="card">
          <picture class="card-img">
            <source
              srcset="../../images/card-4col-img3@2x.png"
              media="(max-width: 540px)"
            >
            <source
              srcset="../../images/card-4col-img3.png"
              media="(min-width: 541px)"
            >
            <img src="../../images/card-4col-img3.png" alt="card col4 img3">
          </picture>
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum.</p>
        </div>
        <!-- card four -->
        <div class="card">
          <picture class="card-img">
            <source
              srcset="../../images/card-4col-img4@2x.png"
              media="(max-width: 540px)"
            >
            <source
              srcset="../../images/card-4col-img4.png"
              media="(min-width: 541px)"
            >
            <img src="../../images/card-4col-img4.png" alt="card col4 img4">
          </picture>
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum.</p>
        </div>
      </div>
      <!-- three block -->
      <h2>3 column card on PC</h2>
      <div class="three-block">
        <!-- card one -->
        <div class="card">
          <picture class="card-img">
            <source
              srcset="../../images/card-3col-img1@2x.png"
              media="(max-width: 540px)"
            >
            <source
              srcset="../../images/card-3col-img1.png"
              media="(min-width: 541px)"
            >
            <img src="../../images/card-3col-img1.png" alt="card col3 img1">
          </picture>
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum.</p>
        </div>
        <!-- card two -->
        <div class="card">
          <picture class="card-img">
            <source
              srcset="../../images/card-3col-img2@2x.png"
              media="(max-width: 540px)"
            >
            <source
              srcset="../../images/card-3col-img2.png"
              media="(min-width: 541px)"
            >
            <img src="../../images/card-3col-img2.png" alt="card col3 img2">
          </picture>
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum.</p>
        </div>
        <!-- card three -->
        <div class="card">
          <picture class="card-img">
            <source
              srcset="../../images/card-3col-img3@2x.png"
              media="(max-width: 540px)"
            >
            <source
              srcset="../../images/card-3col-img3.png"
              media="(min-width: 541px)"
            >
            <img src="../../images/card-3col-img3.png" alt="card col3 img3">
          </picture>
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum.</p>
        </div>
       </div>
    </div>
  </section>
</body>
</html>